/* Basic reset for margins and paddings */

/* Container for the Expense component */
.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

/* Form styles */
.form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.form-input,
.form-select {
  width: calc(33.33% - 10px);
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  background-color: #3f51b5;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* List styles */
.list-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.list-items {
  margin-bottom: 10px;
}

button {
  padding: 8px 16px;
  background-color: #f44336;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.premium {
  margin-left: 70%;
  font-weight: 500;
  color: #f44336;
}

.download {
  margin-right: 10%;
  font-weight: 500;
  color: #9486e4;
}

.download button {
  background-color: #8c7ed4;
  color: rgb(63, 56, 56);
}

/* Media Queries for responsiveness */

@media screen and (max-width: 1200px) {
  .form-input,
  .form-select {
    width: calc(50% - 10px);
  }
}

@media screen and (max-width: 768px) {
  .form-input,
  .form-select {
    width: 100%;
  }

  .premium,
  .download {
    margin: 0;
    text-align: center;
  }
}